[Desktop Entry]
Encoding=UTF-8
Name=HDMI Switcher
Comment=Switching betwee HDMI and stereo output
Type=Service
ServiceTypes=Plasma/Applet
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
Icon=/hdmi.png
 
X-KDE-PluginInfo-Author=LSK
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=hdmi_switcher
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=GPL
